.top-user-card {
  background: #f2f6fc;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.top-user-title {
  color: white !important;
  font-weight: bold;
  margin: 0;
  text-align: center !important;
  margin: 0 !important;
}

.user-card {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
  overflow: hidden;
}

.user-card-hover:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.user-card-bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  border-radius: 4px 0 0 4px;
}

.user-rank-number {
  font-size: 16px;
  font-weight: bold;
  width: 30px;
  text-align: center;
}

.user-avatar {
  margin: 0 12px;
  width: 50px !important;
  height: 50px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start !important;
}

.user-name-container {
  display: flex;
  align-items: center;
  max-width: 110px; /* Giới hạn độ dài tên */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user-name {
  font-size: 14px;
  font-weight: 500;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: start !important;
}

.user-stats {
  display: flex;
  align-items: center;
  gap: 6px;
}

.membership-icon {
  font-size: 14px;
}

.user-points {
  font-size: 12px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.swiper-pagination-bullet-active {
  background: #1677ff !important;
}
